In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
83,tt0884732,23000000,79799880,The Wedding Ringer,Kevin Hart|Josh Gad|Kaley Cuoco|Affion Crocket...,Jeremy Garelick,He's the best man... money can buy.,Doug Harris is a loveable but socially awkward...,101,Comedy,Miramax Films|Screen Gems|LStar Capital,1/16/2015,6.5,2015
1008,tt1482459,70000000,348840316,The Lorax,Zac Efron|Danny DeVito|Taylor Swift|Ed Helms|R...,Chris Renaud|Kyle Balda,Meet The Original Force Of Nature,A 12-year-old boy searches for the one thing t...,86,Animation|Family,Universal Pictures|Illumination Entertainment,3/1/2012,6.3,2012
366,tt1263670,7000000,39462438,Crazy Heart,Jeff Bridges|Maggie Gyllenhaal|Colin Farrell|R...,Scott Cooper,"The harder the life, the sweeter the song.",When reporter Jean Craddock interviews Bad Bla...,112,Drama|Music|Romance,Fox Searchlight Pictures|Butcher's Run Films|I...,12/16/2009,6.4,2009
483,tt1456941,27000000,16504936,"Tomorrow, When the War Began",Caitlin Stasey|Rachel Hurd-Wood|Phoebe Tonkin|...,Stuart Beattie,Where were you when everything changed?,"Ellie Linton, a teen from an Australian coasta...",103,Action|Adventure|Drama,Omnilab Media|Ambience Entertainment,8/8/2010,6.5,2010
37,tt2381111,11000000,62076141,Brooklyn,Saoirse Ronan|Domhnall Gleeson|Emory Cohen|Emi...,John Crowley,"Two countries, two loves, one heart","In 1950s Ireland and New York, young Ellis Lac...",111,Drama|Romance,Wildgaze Films|Irish Film Board|Item 7|Paralle...,11/4/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [59]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format

import collections # Импортируем модуль для работы со счётчиками.

def keep_month(s, d):
    """Функция делит строку на 2 части по разделителю и возвращает первую часть."""
    head, sep, tail = s.partition(d)
    return head

def count_word(s):
    """Функция считает в строке количество слов, разделённых пробелом."""
    a = s.split(' ')
    return len(a)

data['profit'] = data['revenue'] - data['budget'] # Рассчитаем и добавим в таблицу столбец значений прибыли фильмов.

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [60]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
print('Макс бюджет ', data.budget.max())
df_max_budget = data[data['budget'] == data.budget.max()]['original_title'] # Находим min значение.
print('Фильм с самым большим бюджетом ', df_max_budget.values[0])

Макс бюджет  380000000
Фильм с самым большим бюджетом  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [61]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [8]:
# код для решения данного вопроса:
print('Макс длительность ', data.runtime.max())
df_max_runtime = data[data['runtime'] == data.runtime.max()]['original_title'] # Находим max значение.
print('Самый длительный фильм ', df_max_runtime.values[0])

Макс длительность  214
Самый длительный фильм  Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [62]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

# код для решения данного вопроса:
print('Мин длительность ', data.runtime.min())
df_min_runtime = data[data['runtime'] == data.runtime.min()]['original_title'] # Находим min значение..
print('Самый короткий фильм ', df_min_runtime.values[0])

Мин длительность  63
Самый короткий фильм  Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [63]:
answers['4'] = '110' # +

# код для решения данного вопроса:
print('Средняя длительность фильмов ', round(data.runtime.mean(), 0)) # Находим значение.

Средняя длительность фильмов  110.0

# 5. Каково медианное значение длительности фильмов?

In [64]:
answers['5'] = '107' # +

# код для решения данного вопроса:
print('Медианное значение длительности фильмов ', round(data.runtime.median())) # Находим значение.

Медианное значение длительности фильмов  107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [65]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)' # +

# код для решения данного вопроса:
print('Макс прибыль ', data.profit.max())
df_max_profit = data[data['profit'] == data.profit.max()]['original_title'] # Находим max значение.
print('Самый прибыльный фильм ', df_max_profit.values[0])

Макс прибыль  2544505847
Самый прибыльный фильм  Avatar

# 7. Какой фильм самый убыточный?

In [66]:
answers['7'] = 'The Lone Ranger (tt1210819)' # +

# код для решения данного вопроса:
print('Мин прибыль ', data.profit.min())
df_min_profit = data[data['profit'] == data.profit.min()]['original_title'] # Находим min значение.
print('Самый убыточный фильм ', df_min_profit.values[0])

Мин прибыль  -165710090
Самый убыточный фильм  The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [67]:
answers['8'] = '1478' # +

# код для решения данного вопроса:
print('Количество прибыльных фильмов', data[data['profit'] > 0].profit.count())

Количество прибыльных фильмов 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [68]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

# код для решения данного вопроса:
print('Самые большие сборы 2008 -', data[data['release_year'] == 2008]['revenue'].max())
df_2008 = data[data['release_year'] == 2008] # Создадим таблицу фильмов 2008 года.
df_max_revenue2008 = df_2008[df_2008['revenue'] == df_2008.revenue.max()]['original_title'] # Находим max значение.
print('Самый кассовый фильм 2008 г. ', df_max_revenue2008.values[0])

Самые большие сборы 2008 - 1001921825
Самый кассовый фильм 2008 г.  The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [69]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

# код для решения данного вопроса:
print('Самые большие убытки с 2012 по 2014 г. -', data.query('2012 <= release_year <= 2014').profit.min())
df_2012_14 = data.query('2012 <= release_year <= 2014') # Создадим таблицу фильмов с 2012 по 2014 г.
min_profit2012_14 = df_2012_14[df_2012_14['profit'] == df_2012_14.profit.min()]['original_title'] # Находим min значение.
print('Самый убыточный фильм за период с 2012 по 2014 г. ', min_profit2012_14.values[0])

Самые большие убытки с 2012 по 2014 г. - -165710090
Самый убыточный фильм за период с 2012 по 2014 г.  The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [70]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama' # +

# код для решения данного вопроса:
# Первоначально я делал так, пока не понял, что это не правильно.

# Создадим для каждого жанра таблицу фильмов, которые к нему относятся.

df_Action = data[data.genres.str.contains("Action")]
df_Adventure = data[data.genres.str.contains("Adventure")]
df_Drama = data[data.genres.str.contains("Drama")]
df_Comedy = data[data.genres.str.contains("Comedy")]
df_Thriller = data[data.genres.str.contains("Thriller")]

 # Узнаем количество фильмов в каждой таблице, выбираем нужный вариант.
print("Action", df_Action.genres.count())
print("Adventure", df_Adventure.genres.count()) 
print("Drama", df_Drama.genres.count())
print("Comedy", df_Comedy.genres.count())
print("Thriller", df_Thriller.genres.count())

Action 582
Adventure 415
Drama 782
Comedy 683
Thriller 596

ВАРИАНТ 2

In [18]:
# код для решения данного вопроса:
# Вариант, не использующий варианты ответов, среди которых есть правильный.

new_data = data['genres'].str.split('|') # Создаём таблицу списков жанров.
for lists in new_data: # Проходим по всем значениям.
    for word in lists:
        count[word] += 1 # Записываем в словарь.

pop_genre = [k for k, v in count.items() if v == max(count.values())] # Находим максимальное значение.
print("Самый популярный жанр - ", pop_genre[0])

Самый популярный жанр -  Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [71]:
answers['12'] = 'Drama' # +

# код для решения данного вопроса: (не универсальный)
# Поскольку формулировака данного вопроса была изменена, привожу в первом варианте ответ на первую.
# Вопрос подразумевает сравнение относительных величин, то есть вероятность, что станет прибыльным.

df_Action = data[data.genres.str.contains("Action")]
df_Adventure = data[data.genres.str.contains("Adventure")]
df_Drama = data[data.genres.str.contains("Drama")]
df_Comedy = data[data.genres.str.contains("Comedy")]
df_Thriller = data[data.genres.str.contains("Thriller")]

# Посчитаем количество прибыльных фильмов в каждой таблице и 
# отношение прибыльных фильмов к общему числу фильмов данного жанра.

print('Количество прибыльных фильмов Action', 
      df_Action[df_Action['profit'] > 0].profit.count() / df_Action.genres.count(), 
      df_Action[df_Action['profit'] > 0].profit.count())
print('Количество прибыльных фильмов Adventure', 
      df_Adventure[df_Adventure['profit'] > 0].profit.count() / df_Adventure.genres.count(), 
      df_Adventure[df_Adventure['profit'] > 0].profit.count())
print('Количество прибыльных фильмов Drama', 
      df_Drama[df_Drama['profit'] > 0].profit.count() / df_Drama.genres.count(), 
      df_Drama[df_Drama['profit'] > 0].profit.count())
print('Количество прибыльных фильмов Comedy', 
      df_Comedy[df_Comedy['profit'] > 0].profit.count() / df_Comedy.genres.count(), 
      df_Comedy[df_Comedy['profit'] > 0].profit.count())
print('Количество прибыльных фильмов Thriller', 
      df_Thriller[df_Thriller['profit'] > 0].profit.count() / df_Thriller.genres.count(), 
      df_Thriller[df_Thriller['profit'] > 0].profit.count())
# Ответ при данной постановке вопроса, оказался противоположным. (Adventure)

Количество прибыльных фильмов Action 0.7628865979381443 444
Количество прибыльных фильмов Adventure 0.8120481927710843 337
Количество прибыльных фильмов Drama 0.7161125319693095 560
Количество прибыльных фильмов Comedy 0.8067349926793558 551
Количество прибыльных фильмов Thriller 0.7483221476510067 446

In [29]:
# 2 Вариант

positive_film = data[data['profit'] > 0] # Создадим таблицу прибыльных фильмов.
new_data = positive_film['genres'].str.split('|') # Создаём таблицу списков жанров.
for lists in new_data:
    for word in lists:
        count[word] += 1
display(new_data)
pop_genre = [k for k, v in count.items() if v == max(count.values())] # Находим максимальное значение.
print("Больше всего среди прибыльных жанр - ", pop_genre[0])

0       [Action, Adventure, Science Fiction, Thriller]
1       [Action, Adventure, Science Fiction, Thriller]
2               [Adventure, Science Fiction, Thriller]
3        [Action, Adventure, Science Fiction, Fantasy]
4                            [Action, Crime, Thriller]
                             ...
1871                                          [Comedy]
1875                         [Fantasy, Comedy, Family]
1877                  [Action, Comedy, Drama, Romance]
1883                          [Romance, Comedy, Drama]
1884              [Adventure, Action, Science Fiction]
Name: genres, Length: 1478, dtype: object

Больше всего среди прибыльных жанр -  Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [72]:
answers['13'] = 'Peter Jackson' # +

# код для решения данного вопроса: (не универсальный)
# Создадим для каждого режиссёра таблицу фильмов, которые к нему относятся.

df_Spielberg = data[data.director.str.contains("Steven Spielberg")]
df_Nolan = data[data.director.str.contains("Christopher Nolan")]
df_Yates = data[data.director.str.contains("David Yates")]
df_Cameron = data[data.director.str.contains("James Cameron")]
df_Jackson = data[data.director.str.contains("Peter Jackson")]

# Узнаем у какого режиссёра самые большие суммарные кассовые сборы.

print("Spielberg", df_Spielberg.director.count(), "; Сумма сборов", df_Spielberg.revenue.sum())
print("Nolan", df_Nolan.director.count(), "; Сумма сборов", df_Nolan.revenue.sum()) 
print("Yates", df_Yates.director.count(), "; Сумма сборов", df_Yates.revenue.sum())
print("Cameron", df_Cameron.director.count(), "; Сумма сборов", df_Cameron.revenue.sum())
print("Jackson", df_Jackson.director.count(), "; Сумма сборов", df_Jackson.revenue.sum())

Spielberg 10 ; Сумма сборов 3386700791
Nolan 8 ; Сумма сборов 4167548502
Yates 4 ; Сумма сборов 4154295625
Cameron 2 ; Сумма сборов 2798546718
Jackson 8 ; Сумма сборов 6490593685

In [22]:
# 2 Вариант

grouped_df = data.groupby(['director']).sum() # Создадим таблицу сумм кассовых сборов каждого режиссёра.
super_director = grouped_df.sort_values(['profit'],ascending=False)['profit'].index[0]
print("Самые большие суммарные кассовые сборы у", super_director)
# Но если работа совместная, то непонятно каким образом рассчитывать сумму сборов.

Самые большие суммарные кассовые сборы у Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [73]:
answers['14'] = 'Robert Rodriguez' # +

# код для решения данного вопроса: (не универсальный)
df_Action = data[data.genres.str.contains("Action")] # Создадим таблицу фильмов, которые относятся к жанру Action.

# Создадим для каждого режиссёра таблицу фильмов, которые к нему относятся в этом жанре.
df_RidleyScott = df_Action[df_Action.director.str.contains("Ridley Scott")]
df_Ritchie = df_Action[df_Action.director.str.contains("Guy Ritchie")]
df_Rodriguez = df_Action[df_Action.director.str.contains("Robert Rodriguez")]
df_Tarantino = df_Action[df_Action.director.str.contains("Quentin Tarantino")]
df_TonyScott = df_Action[df_Action.director.str.contains("Tony Scott")]

print("Ridley Scott", df_RidleyScott.director.count())
print("Ritchie", df_Ritchie.director.count()) 
print("Rodriguez", df_Rodriguez.director.count())
print("Tarantino", df_Tarantino.director.count())
print("Tony Scott", df_TonyScott.director.count())

Ridley Scott 6
Ritchie 4
Rodriguez 9
Tarantino 5
Tony Scott 5

In [34]:
# 2 Вариант

count = collections.Counter() # Создаём словарь - счётчик.
new_data = df_Action['director'].str.split('|') # Создаём таблицу списков режиссёров.
for lists in new_data:
    for word in lists:
        count[word] += 1

pop_director = [k for k, v in count.items() if v == max(count.values())] # Находим максимальное значение.
print("Больше всего фильмов в стиле Action снял - ", pop_director[0])

Больше всего фильмов в стиле Action снял -  Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [74]:
answers['15'] = 'Chris Hemsworth' # +

# код для решения данного вопроса: (не универсальный)

# Создадим для каждого актёра таблицу фильмов, которые к нему относятся в 2012 году.
df_Cage = data[(data.cast.str.contains("Nicolas Cage")) & (data.release_year == 2012)]
print("Nicolas Cage ", df_Cage.revenue.sum())
df_Hardy = data[(data.cast.str.contains("Tom Hardy")) & (data.release_year == 2012)]
print("Tom Hardy ", df_Hardy.revenue.sum())
df_Hemsworth = data[(data.cast.str.contains("Chris Hemsworth")) & (data.release_year == 2012)]
print("Chris Hemsworth ", df_Hemsworth.revenue.sum())
df_Sturgess = data[(data.cast.str.contains("Jim Sturgess")) & (data.release_year == 2012)]
print("Jim Sturgess ", df_Sturgess.revenue.sum())
df_Stone = data[(data.cast.str.contains("Emma Stone")) & (data.release_year == 2012)]
print("Emma Stone ", df_Stone.revenue.sum())

Nicolas Cage  2106557
Tom Hardy  1134717867
Chris Hemsworth  2027450773
Jim Sturgess  138589343
Emma Stone  752215857

In [35]:
# 2 Вариант

new_2012 = data.query('release_year == 2012') # Создадим таблицу фильмов 2012 года.
count = collections.Counter() # Создаём словарь - счётчик.
new_data = new_2012['cast'].str.split('|') # Создаём таблицу списков актёров.
for lists in new_data:
    for word in lists:
        count[word] += 1

value = 0
value_dict = {} # Создадим словарь - счётчик для записи сумм сборов.
for text in count.keys(): # Проходим по ключам - актёрам.
    value = new_2012[new_2012.cast.str.contains(text)].revenue.sum() # Считаем сумму сборов.
    value_dict[text] = value # Записываем в словарь.

actor = [k for k, v in value_dict.items() if v == max(value_dict.values())]  # Находим максимальное значение.
print("Фильмы с ", actor[0], "принесли самые высокие кассовые сборы в 2012 году." )

Фильмы с  Chris Hemsworth принесли самые высокие кассовые сборы в 2012 году.

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [75]:
answers['16'] = 'Matt Damon' # +

# код для решения данного вопроса: (не универсальный)
large_budget = data[data.budget > data.budget.mean()] # Создадим таблицу высокобюджетных фильмов.

# Создадим для каждого актёра таблицу фильмов, которые к нему относятся этой таблице.
df_Cruise = large_budget[large_budget.cast.str.contains("Tom Cruise")]
print("Tom Cruise ", df_Cruise.original_title.count())
df_Wahlberg = large_budget[large_budget.cast.str.contains("Mark Wahlberg")]
print("Mark Wahlberg ", df_Wahlberg.original_title.count())
df_Damon = large_budget[large_budget.cast.str.contains("Matt Damon")]
print("Matt Damon ", df_Damon.original_title.count())
df_Jolie = large_budget[large_budget.cast.str.contains("Angelina Jolie")]
print("Angelina Jolie ", df_Jolie.original_title.count())
df_Sandler = large_budget[large_budget.cast.str.contains("Adam Sandler")]
print("Adam Sandler ", df_Sandler.original_title.count())

Tom Cruise  15
Mark Wahlberg  14
Matt Damon  18
Angelina Jolie  16
Adam Sandler  17

In [37]:
# 2 Вариант
large_budget = data[data.budget > data.budget.mean()] # Создадим таблицу высокобюджетных фильмов.
count = collections.Counter() # Создаём словарь - счётчик.
new_data = large_budget['cast'].str.split('|') # Создаём таблицу списков актёров высокобюджетных фильмов.
for lists in new_data:
    for word in lists:
        count[word] += 1

pop_cast_action = [k for k, v in count.items() if v == max(count.values())]  # Находим максимальное значение.
print(pop_cast_action[0], "снялся в большем количестве высокобюджетных фильмов")

Matt Damon снялся в большем количестве высокобюджетных фильмов

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [76]:
answers['17'] = 'Action' # +

# код для решения данного вопроса: (не универсальный)

# Создадим для каждого жанра таблицу фильмов, в которых снимался Nicolas Cage.
df_Drama = data[(data.genres.str.contains("Drama")) & (data.cast.str.contains("Nicolas Cage"))]
df_Action = data[(data.genres.str.contains("Action")) & (data.cast.str.contains("Nicolas Cage"))]
df_Thriller = data[(data.genres.str.contains("Thriller")) & (data.cast.str.contains("Nicolas Cage"))]
df_Adventure = data[(data.genres.str.contains("Adventure")) & (data.cast.str.contains("Nicolas Cage"))]
df_Crime = data[(data.genres.str.contains("Crime")) & (data.cast.str.contains("Nicolas Cage"))]

print("Nicolas Cage(Drama) ", df_Drama.original_title.count())
print("Nicolas Cage(Action) ", df_Action.original_title.count())
print("Nicolas Cage(Thriller) ", df_Thriller.original_title.count())
print("Nicolas Cage(Adventure) ", df_Adventure.original_title.count())
print("Nicolas Cage(Crime) ", df_Crime.original_title.count())

Nicolas Cage(Drama)  12
Nicolas Cage(Action)  17
Nicolas Cage(Thriller)  15
Nicolas Cage(Adventure)  7
Nicolas Cage(Crime)  10

In [39]:
# 2 Вариант
# Составим таблицу фильмов Nicolas Cage
data_Cage = data[data.cast.str.contains("Nicolas Cage")]
count = collections.Counter() # Создаём словарь - счётчик.
new_data = data_Cage['genres'].str.split('|') # Создаём таблицу жанров фильмов, в которых снимался Nicolas Cage.
for lists in new_data:
    for word in lists:
        count[word] += 1

max_Cage_genres = [k for k, v in count.items() if v == max(count.values())]  # Находим максимальное значение.
print("В фильмах", max_Cage_genres[0], "больше всего снимался Nicolas Cage")

В фильмах Action больше всего снимался Nicolas Cage

# 18. Самый убыточный фильм от Paramount Pictures

In [77]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # +

# код для решения данного вопроса:

df_Paramount = data[data.production_companies.str.contains("Paramount Pictures")] # Таблица фильмов от Paramount Pictures.
loss_film = df_Paramount[df_Paramount['profit'] == df_Paramount.profit.min()]['original_title'] # Находим min значение.
print("Самый убыточный фильм от Paramount Pictures: ", loss_film.values[0])

Самый убыточный фильм от Paramount Pictures:  K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [78]:
answers['19'] = '2015' # +

# код для решения данного вопроса:
# Группируем по году и сборам, сортируем и находим индекс максимальной суммы.
best_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]
print("Самый успешный год по суммарным кассовым сборам", best_year)

Самый успешный год по суммарным кассовым сборам 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [79]:
answers['20'] = '2014' # +

# код для решения данного вопроса:
data_Warner = data[data.production_companies.str.contains("Warner Bros")] # Находим фильмы студии Warner Bros.
# Группируем по году и сборам, сортируем и находим индекс максимальной суммы.
best_year_Warner = data_Warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]
print("Самый прибыльный год для студии Warner Bros - ", best_year_Warner)

Самый прибыльный год для студии Warner Bros -  2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [80]:
answers['21'] = 'Сентябрь' # +

# код для решения данного вопроса:
# Применяем функцию keep_month к столбцу даты, чтобы остался только месяц. (из предобработки)
data.release_date = data.release_date.apply(lambda x:keep_month(x, '/'))

# Группируем по месцам и названиям, сортируем по убыванию и находим первое значение.
best_month = data.groupby(['release_date'])['original_title'].count().sort_values(ascending=False).index[0]
print("Больше всего фильмов вышло в ", best_month, "месяце")

Больше всего фильмов вышло в  9 месяце

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [81]:
answers['22'] = '450' # +

# код для решения данного вопроса:
# Применяем функцию keep_month к столбцу даты, чтобы остался только месяц.
data.release_date = data.release_date.apply(lambda x:keep_month(x, '/'))

# Создадим таблицу фильмов, которые были выпущены в летние месяцы.
summer_months = data.query('release_date == "6" or release_date == "7" or release_date == "8"')

# Группируем по месцам и названиям, считаем и суммируем.
count_summer_films = summer_months.groupby(['release_date'])['original_title'].count().sum()
print("Всего фильмов вышло в летние месяцы - ", count_summer_films)

Всего фильмов вышло в летние месяцы -  450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [82]:
answers['23'] = 'Peter Jackson' # +

# код для решения данного вопроса:
# Применяем функцию keep_month к столбцу даты, чтобы остался только месяц.
data.release_date = data.release_date.apply(lambda x:keep_month(x, '/'))

# Создадим таблицу фильмов, вышедших зимой.
winter_months = data.query('release_date == "12" or release_date == "1" or release_date == "2"')
count = collections.Counter() # Создаём словарь - счётчик.
new_data = winter_months['director'].str.split('|') # Создаём таблицу списков режиссёров для данной таблицы.
for lists in new_data:
    for word in lists:
        count[word] += 1
        
best_winter_director = [k for k, v in count.items() if v == max(count.values())] # Находим максимальное значение.
print("Для", best_winter_director[0], " - зима самое продуктивное время года.")

Для Peter Jackson  - зима самое продуктивное время года.

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [89]:
answers['24'] = 'Four By Two Productions' # +

# код для решения данного вопроса:
data = pd.read_csv('movie_bd_v5.csv')
# Создадим таблицу где вместо названий будут количество символов в названии.
data.original_title = data.original_title.apply(lambda x:len(x))
count = collections.Counter() # Создаём словарь - счётчик.
companies = data['production_companies'].str.split('|')# Создадим словарь студий.
for lists in companies:
    for word in lists:
        count[word] += 1 # Запишем в словарь.

value = 0.0
value_dict = {} # Создадим словарь студий и средних значний.
for text in count.keys():
    value = data[data.production_companies.str.contains(text)].original_title.mean() # Рассчитываем среднее.
    value_dict[text] = value # Записывае в словарь студию и среднее значение.

companie_max_simbol = [k for k, v in value_dict.items() if v == max(value_dict.values())] # Найдём максимальное значение.
print("Студия ", companie_max_simbol[0], "даёт самые длинные названия своим фильмам по количеству символов." )

Студия  Four By Two Productions даёт самые длинные названия своим фильмам по количеству символов.

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [84]:
answers['25'] = 'Midnight Picture Show' # +

# код для решения данного вопроса:
data = pd.read_csv('movie_bd_v5.csv')
# Создадим таблицу где вместо описаний будут количество слов в описании.
data.overview = data.overview.apply(lambda x:count_word(x))

companies = data['production_companies'].str.split('|') # Создадим словарь студий.
for lists in companies:
    for word in lists:
        count[word] += 1

value = 0.0
value_dict = {}# Создадим словарь студий и средних значний.
for text in count.keys():
    value = data[data.production_companies.str.contains(text)].overview.mean()
    value_dict[text] = value

companie_max_word = [k for k, v in value_dict.items() if v == max(value_dict.values())] # Найдём максимальное значение.
print("Описания фильмов ", companie_max_word[0], "в среднем самые длинные по количеству слов." )

Описания фильмов  Midnight Picture Show в среднем самые длинные по количеству слов.

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [85]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

# код для решения данного вопроса:

# Необходимо найти фильмы количеством 1 процент от общего числа фильмов, 
# которые при этом занимают высшие позиции в рейтинге.

# Отсортируем фильмы по рейтингу и посчитаем 1 процент верхних значений.
data_rating = data['vote_average'].sort_values(ascending=False)

# Сделаем выборку побольше, т.к. 7.8 это пограничный рейтинг, любой фильм с таким рейтингом, наверное, можно учитывать.
data_small = data_rating.head(len(data) // 60)
                                               
# Для каждого значения индекса найдём название фильма.
for i in data_small.index:
    display(data.iloc[i]['original_title'])

'The Dark Knight'

'The Imitation Game'

'Inside Out'

'Interstellar'

'Room'

'The Lord of the Rings: The Return of the King'

'The Grand Budapest Hotel'

'The Wolf of Wall Street'

'Inception'

'Guardians of the Galaxy'

'Memento'

'Gone Girl'

'The Pianist'

'12 Years a Slave'

'Mr. Nobody'

'There Will Be Blood'

'The Lord of the Rings: The Two Towers'

'The Theory of Everything'

'Eternal Sunshine of the Spotless Mind'

'Dallas Buyers Club'

'The Fault in Our Stars'

'Her'

'The Prestige'

'Spotlight'

'3 Idiots'

'The Lord of the Rings: The Fellowship of the Ring'

'Big Hero 6'

'Prisoners'

'Captain Phillips'

'Django Unchained'

'Gladiator'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 1

In [86]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # +

# код для решения данного вопроса:  (не универсальный)
# Сделал чтоы ответить на вопрос викторины.
df_JD_HBC = data[(data.cast.str.contains("Johnny Depp")) & (data.cast.str.contains("Helena Bonham Carter"))]
df_HJ_IM = data[(data.cast.str.contains("Hugh Jackman")) & (data.cast.str.contains("Ian McKellen"))]
df_VD_PW = data[(data.cast.str.contains("Vin Diesel")) & (data.cast.str.contains("Paul Walker"))]
df_AS_KJ = data[(data.cast.str.contains("Adam Sandler")) & (data.cast.str.contains("Kevin James"))]
df_DR_RG = data[(data.cast.str.contains("Daniel Radcliffe")) & (data.cast.str.contains("Rupert Grint"))]

print("Johnny Depp & Helena Bonham Carter снимались вместе - ", df_JD_HBC.cast.count(), "раз.")
print("Ben Stiller & Owen Wilson снимались вместе - ", df_HJ_IM.cast.count(), "раз.")
print("Vin Diesel & Paul Walker снимались вместе - ", df_VD_PW.cast.count(), "раз.")
print("Adam Sandler & Kevin James снимались вместе - ", df_AS_KJ.cast.count(), "раз.")
print("Daniel Radcliffe & Rupert Grint  снимались вместе - ", df_DR_RG.cast.count(), "раз.")

Johnny Depp & Helena Bonham Carter снимались вместе -  6 раз.
Ben Stiller & Owen Wilson снимались вместе -  5 раз.
Vin Diesel & Paul Walker снимались вместе -  5 раз.
Adam Sandler & Kevin James снимались вместе -  5 раз.
Daniel Radcliffe & Rupert Grint  снимались вместе -  8 раз.

ВАРИАНТ 2

In [ ]:
# (Опубликован после дедлайна)
# Составим словарь имён актёров. 

count_actor = Counter()
data_actor = data['cast'].str.split('|')
for list_actor in data_actor:
    for text in list_actor:
        count_actor[text] +=1

actors = list(count_actor.keys()) # Представим ввиде списка имена актёров.

count_two_actor = Counter()
for i in range(len(actors)):
    for text in actors[i:]:  #  Проходим по именам
        if text != actors[i]: # Проходим по именам с помощью индекса, начиная с этого индекса, чтобы не было повторений.
            data_i_j = data[(data.cast.str.contains(text)) & (data.cast.str.contains(actors[i]))] # Таблица, где оба актёра.
            count_two_actor[text + ' & ' + actors[i]] = data_i_j.genres.count() # Записываем значение в словарь.

# Найдём максимальное значение.
two_actor_max = [k for k, v in count_two_actor.items() if v == max(count_two_actor.values())]
print(two_actor_max[0], "чаще всего снимаются в одном фильме вместе" )

# Submission

In [87]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [88]:
# и убедиться что ни чего не пропустил)
len(answers)

27